.border-grid {
  border-style: dashed;
  border-color: hsl(var(--border));
}

.border-grid:is(.dark *) {
  border-color: hsl(var(--border));
}

.container-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
  border-style: dashed;
  border-color: hsl(var(--border) / 0.7);
}

.container-wrapper:is(.dark *) {
  border-color: hsl(var(--border));
}

@media (min-width: 1400px) {
  .container-wrapper {
    border-left-width: 1px;
    border-right-width: 1px;
  }
}

@media (min-width: 1800px) {
  .container-wrapper {
    max-width: 1536px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1536px;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1280px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
